.wrapper {
  width: 960px;
  background-color: #eee;
  margin: 0 auto;
  padding: 20px;
}

.wrapper:after {
  content: "";
  display: block;
  clear: both;
}

/* img {
  float: right;
  margin: 10px;
} */

/* .blue {
  background-color: blue;
  float: right;
}
.green {
  background-color: green;
  float: left;
}
.red {
  background-color: red;
  float: right;
}
.box {
  height: 100px;
  width: 100px;
} */

.services::after {
  content: "";
  display: block;
  clear: both;
}

.service h2,
.service p {
  color: #fff;
  margin: 10px;
  text-align: center;
}

.service {
  float: left;
  background-color: #46bfc4;
  width: 29%;
  margin: 1%;
  height: 140px;
  padding: 1%;
}

.content {
  padding: 10px;
  clear: both;
  margin-top: 20px 1%;
}

.content p {
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 50px;
  column-gap: 50px;
  -webkit-column-rule: 1px solid #ccc;
  column-rule: 1px solid #ccc;
  text-align: justify;
}

.columns:after {
  content: "";
  display: block;
  clear: both;
}

.columns section {
  float: left;
  width: 46%;
  padding: 1%;
  margin: 1%;
  background-color: #b1acac;
}

.columns aside {
  float: left;
  width: 46%;
  padding: 1%;
  margin: 1%;
  background-color: #b1acac;
}
